/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 
*/

/* reset, start clean, without any browser settings */
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: inherit; /* box-sizing is not inherit propert, make it to inherit from html box-sizing */
}

html {
	font-size: 62.5%;
	/* root font size, update here to control all rem */
	/* 62.5% of default root font size 16px, which is 10px, which is easy to calulate for rem */ 
	/* use percentile as a better practice. It overrides browser font setting set by user */

	box-sizing: border-box;  
}

/* set font in body, so all children inherits */
body {
	font-family: "Lato";
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7; /* 1.7 times bigger than default */
	color: #777;

	padding: 3rem;
}

.header {
	height: 95vh;
	position: relative;

	/* the former bg-image appears on top of the latter one */
	background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(39, 180, 133, 0.8)),
		url("../img/hero.jpg");
	/* set bg-image size, position*/
	background-size: cover;
	background-position: top;

	/* set part of an element to be shown */
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
	position: absolute;
	top: 4rem;
	left: 4rem;
}

.header__logo {
	height: 3.5rem; /* width will be set automatically */
}

.header__logo:hover {
    animation: moveInRight 1s ease-out;
}

.header__text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%); /* relative to its own width/height */
	text-align: center; /* horizontal alignment of a block element */
}

.heading-primary {
	color: white;
	text-transform: uppercase;
	margin-bottom: 6rem; 
    
    /* fix shaking animation moveInLeft moveInRight, no explanation why */
    /* backface-visibility: hidden; */
}

.heading-primary--main {
	display: block;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: 3.5rem;

	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	/* animation-delay: 1s; */
	/* animation-iteration-count: 2; */
}

.heading-primary--sub {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.75rem;

	animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20rem);
	}

	80% {
		transform: translateX(2rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(20rem);
	}

	80% {
		transform: translateX(-2rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10rem;
	transition: transform 0.2s;
	font-size: 1.6rem;

	padding: 1.5rem 4rem;
	display:inline-block; /* inline does not accept vertical padding, use inline-block instead */

	position: relative;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2)
}

.btn--white {
	background-color: #ffffff;
	color: #777777;
}

.btn::after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn--white::after {
	background-color: white;
}

.btn:hover::after {
	transform: scaleX(1.4)scaleY(1.6);
	opacity: 0;
}

.btn--animated {
	animation: moveInBottom .5s ease-in 0.5s;
	animation-fill-mode: both/* */
}